.bounding {
    padding: 1rem;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.table td, .table th {
    padding: 0.5rem;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.table tr {
    background-color: rgba(255, 255, 255, 0.2);
}

.table tr:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.arc {
    margin: 0 0.25rem;
    padding: 0 0.25rem;
    background:#0e3f68;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}