.bounding {
    padding: 1rem;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.table td, .table th {
    padding: 0.5rem;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.table tr {
    background-color: rgba(255, 255, 255, 0.2);
}

.table tr:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

.success {
    background-color: #24c55f;
    font-weight: bold;
}

.right {
    text-align: right;
}
.center {
    text-align: center;
}

.left {
    text-align: left;
}

.h1 {
    font-size: 2rem;
}

.arc {
    margin: 0 0.25rem 0 0;
    padding: 0 0.4rem;
    background:#0e3f68;
    color: rgb(255, 255, 255);
}

.green {
    background: #359700;
    color: rgb(255, 255, 255);
}

.red {
    background: #b51212;
    color: rgb(255, 255, 255);
}

.chart {
    width: 100%;
    height: 540px;
}